name: Build and Deploy to AWS (TST)

on:
  push:
    branches: [ roq ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Generate Roq Site
        uses: quarkiverse/quarkus-roq@v1
        with:
          github-pages: false

      - name: S3 Deploy
        uses: reggionick/s3-deploy@v3.1.1
        with:
          folder: target/roq
          bucket: test.wijkwis.nl
          bucket-region: eu-west-1
          dist-id: E21NU73EKXRH80
          invalidation: /*
          delete-removed: true
